

<div class="content">
<br> <br>
 <p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedFiches()" [disabled]="!selectedFiches || !selectedFiches.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

<br>
    <p-table #dt [value]="fiches" [rows]="5" [paginator]="true" [globalFilterFields]="['id','libelle','dateButoire','lieu','user.email']"
        [(selection)]="selectedFiches" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{first} à {last} des {totalRecords} fiches" [showCurrentPageReport]="true">
     
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="libelle">Libellé <p-sortIcon field="libelle"></p-sortIcon></th>
                <th pSortableColumn="dateButoire">Date butoire <p-sortIcon field="dateButoire"></p-sortIcon></th>
                <th pSortableColumn="temps">Temps d'excution <p-sortIcon field="temps"></p-sortIcon></th>
                <th pSortableColumn="lieu">Lieu <p-sortIcon field="lieu"></p-sortIcon></th>
                <th pSortableColumn="url">URL </th>
                <th pSortableColumn="note">Notes </th>
                <th pSortableColumn="user">Utilisateur </th>
                <th pSortableColumn="tags">Tags </th>
                <th pSortableColumn="section">Section </th>
                <th pSortableColumn="tab">Tableau  </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fiche>
            <tr>
                <td>
                    <p-tableCheckbox [value]="fiche"></p-tableCheckbox>
                </td>
                <td>{{fiche.id}}</td>
                <td>{{fiche.libelle}}</td>
                <td>{{fiche.dateButoire |date : 'dd/MM/YYYY' }}</td>
                <td>{{fiche.temps}}</td>
                <td>{{fiche.lieu}}</td>
                <td>{{fiche.url}}</td>
                <td>{{fiche.note}}</td>
                <td>{{fiche.user.email}}</td>
                <td>
                    <p-button  (click)="showTags(fiche)" [style]="{'background': 'transparent',  'color':'gray'}" label="Tags" badge="{{fiche.tags.length}}" class="p-button-danger" badgeClass="p-badge-secondary"> </p-button>
                </td>
                <td>{{fiche.section.libelle}}</td>
                <td> {{fiche.tab.libelle}} </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="showEditFicheDialog(fiche)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFiche(fiche)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Il y a au total {{fiches ? fiches.length : 0 }} fiches.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="createFicheDialog" [style]="{width: '450px'}" header="Créer une fiche" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="libelle">Libellé</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="fiche.libelle" required autofocus />
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="icon">Date butoire</label>
            <p-calendar [(ngModel)]="fiche.dateButoire" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="temps" class="p-col-fixed" >Temps d'execution</label>
            <div class="p-col">
                <input id="temps" [(ngModel)]="fiche.temps" type="number" pInputText> 
            </div>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="lieu" class="p-col-fixed" >Lieu</label>
            <div class="p-col">
                <input id="lieu" [(ngModel)]="fiche.lieu" type="text" pInputText> 
            </div>
        </div>


        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Note </label>
            <div class="p-col">
                <textarea id="note" [(ngModel)]="fiche.note" pInputTextarea   rows="3" style="width: 100%;"></textarea>
            </div>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Utilisateur </label>
                <select class="p-col" [(ngModel)]="userEmail" style="width: 100%;" >
                    <option [value]="user.email" *ngFor="let user of users">   {{user.prenom}}  {{user.nom}} </option>
                  </select>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Tags </label>
            <div class="p-col">
                <p-multiSelect [options]="tags" [(ngModel)]="fiche.tags" optionLabel="libelle"></p-multiSelect>
            </div>
        </div>


        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Tableau </label>
                <select class="p-col" [(ngModel)]="tabId" style="width: 100%;" required >
                    <option [value]="tab.id" *ngFor="let tab of tableaux">   {{tab.libelle}} </option>
                  </select>
        </div>


        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Section </label>
                <select class="p-col" [(ngModel)]="sectionId" style="width: 100%;" required >
                    <option [value]="sect.id" *ngFor="let sect of sections">   {{sect.libelle}} </option>
                  </select>
        </div>



    

    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFiche(fiche)"></button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

 

<p-dialog header="Liste des tags" [(visible)]="tagListVisible" [style]="{width: '25vw'}" [resizable] = "true" [baseZIndex]="10000">
  
    <p-table [value]="tagsToShow">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Libellé</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tag>
            <tr>
                <td>{{tag.id}}</td>
                <td>{{tag.libelle}}</td>
            </tr>
        </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="tagListVisible=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="editFicheDialog" [style]="{width: '450px'}" header="Créer une fiche" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="libelle">Libellé</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="fiche.libelle" required autofocus />
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="icon">Date butoire</label>
            <p-calendar [(ngModel)]="dateButoire" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="temps" class="p-col-fixed" >Temps d'execution</label>
            <div class="p-col">
                <input id="temps" [(ngModel)]="fiche.temps" type="number" pInputText> 
            </div>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="lieu" class="p-col-fixed" >Lieu</label>
            <div class="p-col">
                <input id="lieu" [(ngModel)]="fiche.lieu" type="text" pInputText> 
            </div>
        </div>


        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Note </label>
            <div class="p-col">
                <textarea id="note" [(ngModel)]="fiche.note" pInputTextarea   rows="3" style="width: 100%;"></textarea>
            </div>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Utilisateur </label>
                <select class="p-col" [(ngModel)]="userEmail" style="width: 100%;" >

                    <option    [value]="user.email" *ngFor="let user of users">   {{user.prenom}}  {{user.nom}} </option>
                  </select>
        </div>

        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Tags </label>
            <div class="p-col">
                <p-multiSelect [options]="tags" [(ngModel)]="fiche.tags" optionLabel="libelle"></p-multiSelect>
            </div>
        </div>


        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Tableau </label>
                <select class="p-col" [(ngModel)]="tabId" style="width: 100%;" required >
                    <option [value]="tab.id" *ngFor="let tab of tableaux">   {{tab.libelle}} </option>
                  </select>
        </div>


        <div class="p-field p-grid">
            <br>
            <label for="note" class="p-col-fixed" >Section </label>
                <select class="p-col" [(ngModel)]="sectionId" style="width: 100%;" required >
                    <option [value]="sect.id" *ngFor="let sect of sections">   {{sect.libelle}} </option>
                  </select>
        </div>



    

    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="editFicheDialog=false"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="editFiche(fiche)"></button>
    </ng-template>
</p-dialog>









      
</div>
    
